.footer-widgets {
  position: relative;

  .colorswatch {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .widget {
    text-align: center;
  }

  .menu-social-container {
    svg {
      color: $light;
      width: 50px;

      &:hover {
        color: white;
      }
    }
  }

  h2,
  h3,
  h4 {
    color: $light;
    text-transform: uppercase;
    font-size: 1.425rem;
  }
}

.socket {
  @include side-color-left(left, $light);
}

.socket-logos {
  padding-top: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .socket-logo {
    a {
      margin: 0 1.125rem 1.5rem;
      display: block;

      /* stylelint-disable-next-line no-descending-specificity */
      svg {
        color: $secondary;
      }
    }
  }
}
