@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Bitter-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-Light.woff2') format('woff2'),
      url('../fonts/Bitter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-Medium.woff2') format('woff2'),
      url('../fonts/Bitter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-BoldItalic.woff2') format('woff2'),
      url('../fonts/Bitter-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-LightItalic.woff2') format('woff2'),
      url('../fonts/Bitter-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-Regular.woff2') format('woff2'),
      url('../fonts/Bitter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-Italic.woff2') format('woff2'),
      url('../fonts/Bitter-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-SemiBold.woff2') format('woff2'),
      url('../fonts/Bitter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-Bold.woff2') format('woff2'),
      url('../fonts/Bitter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bitter;
  src: url('../fonts/Bitter-MediumItalic.woff2') format('woff2'),
      url('../fonts/Bitter-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
