.navbar {
  // Enable scrollable mobile navigation
  @include media-breakpoint-down(lg) {
    max-height: 100vh;
    overflow: auto;
  }

  // Set logo width
  .navbar-brand img {
    display: block;
    width: 140px;

    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }
}
