.secondary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  li.menu-item {
    // position: relative;
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-size: 0.9375rem;

    a {
      padding: .125rem .5rem;
      font-weight: 700;

      .count {
        background-color: $danger;
        border-radius: 100%;
        font-family: sans-serif;
        color: $white;
        padding: 0 3px;
      }
    }

    &.current-menu-item,
    &.current-menu-ancestor {
      > a {
        background-color: $primary;
        color: white;
      }
    }

    &:hover {
      > a {
        background-color: $gray-200;
        color: $dark;
      }
    }
  }

  /* Desktop only
  -------------------------------------------------- */
  @include media-breakpoint-up(lg) {
    min-width: 180px;
  }
}
