/* Sticky footer */
html,
body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .site-footer {
    margin-top: auto;
  }

  /* Add padding to body when using navbar.fixed-top */
  // padding-top: $headerheight-mobile;

  // @include media-breakpoint-up(lg) {
  //   padding-top: $headerheight;
  // }
}

/* Admin-bar active */
body.admin-bar {
  /* stylelint-disable-next-line custom-property-pattern */
  padding-top: var(--wp-admin--admin-bar--height);

  .navbar.fixed-top {
    /* stylelint-disable-next-line custom-property-pattern */
    // top: var(--wp-admin--admin-bar--height);
  }
}

/*
Standard page margins
*/
body:not(.page-template-flexbuilder) {
  #primary,
  #secondary {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
