p,
li,
blockquote,
cite {
  font-size: 1.125rem;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: calc($paragraph-margin-bottom * 2);
}

blockquote {
  @extend .blockquote;
}

pre {
  white-space: pre-wrap;
}

.text-bg-secondary,
.text-bg-secondary-dark,
.text-bg-dark {
  h2,
  h3,
  h4 {
    color: $light;
  }
}
