/* Columns
-------------------------------------------------- */
.woocommerce {
  .col2-set {
    @include make-row;

    .col-1,
    .col-2 {
      @include make-col-ready;
      @include make-col(12);

      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }
  }

  .form-row {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;

    @include media-breakpoint-up(sm) {
      &.form-row-first {
        float: left;
        clear: both;
        width: calc(50% - 8px);
      }

      &.form-row-last {
        float: right;
        width: calc(50% - 8px);
      }
    }
  }

  .clear {
    @extend .clearfix;
  }

  /* Butttons
  -------------------------------------------------- */
  .button {
    @extend .btn;
    @extend .btn-primary;

    &.alt {
      @extend .btn-secondary;
    }
  }

  /* Pagination
  -------------------------------------------------- */
  .woocommerce-pagination {
    margin: 0 auto;
    display: table;

    ul.page-numbers {
      @extend .pagination;

      li {
        @extend .page-item;

        > * {
          @extend .page-link;

          font-family: Roboto, sans-serif;
          margin-left: -3px;
        }
      }
    }
  }

  /* Tables
  -------------------------------------------------- */
  .shop_table {
    @extend .table;

    thead, tbody, tfoot, tr, td, th {
      border-bottom-width: 1px;
    }

    td {
      vertical-align: middle;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .button {
      @extend .btn-sm;
    }
  }

  /* Cultuurkaart ck_badge
  -------------------------------------------------- */
  .cultuurkaart_ck_badge {
    @extend .ck_badge;
    @extend .bg-primary;
    @extend .shadow-sm;

    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: $headings-font-family;
    color: $light;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .ck_badge-overlay {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
    transition:
      width 0.4s ease,
      height 0.4s ease;
  }

  .ck_badge {
    margin: 0;
    color: $dark;
    font-family: $headings-font-family;
    font-weight: bold;
    padding: 6px 0;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: $light;
  }

  .ck_badge::before,
  .ck_badge::after {
    content: "";
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: inherit;
    min-width: 55px;
  }

  .ck_badge::before {
    right: 100%;
  }

  .ck_badge::after {
    left: 100%;
  }

  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }

  /* On Sale ck_badge
  -------------------------------------------------- */
  .onsale {
    @extend .badge;
    @extend .bg-primary;
    @extend .shadow-sm;

    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: $headings-font-family;
    color: $light;
  }

  /* Remove icon
  -------------------------------------------------- */
  a.remove {
    display: inline-block;
    font-size: 0.9375em;
    height: 0.9375em;
    width: 0.9375em;
    text-align: center;
    line-height: 0.9375em;
    border-radius: 100%;
    color: $red;
    text-decoration: none;
    border: 0;

    &:hover {
      color: $white;
      background: $red;
    }
  }
}
