/* stylelint-disable no-descending-specificity */

/* Project List Widget shortcode
-------------------------------------------------------------- */
.project_list_widget {
  @extend .list-group;

  li {
    @extend .list-group-item;
  }
}


/* Product categories
-------------------------------------------------------------- */
.widget_product_categories {
  ul.product-categories {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;

      .count {
        font-size: 0.875rem;
        color: $gray-500;
      }

      a {
        text-decoration: none;
        padding-left: 1.5rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          width: 0.8125em;
          height: 0.8125em;
          margin-right: 0.5em;
          margin-top: 0.35em;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'%3E%3Cpath fill='%23c6d8be' d='M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .children {
    padding-left: 1rem;
    list-style: none;
  }
}

/* Mini cart
-------------------------------------------------------------- */
.widget_shopping_cart {
  .cart_list {
    margin-bottom: 1rem;

    .mini_cart_item {
      position: relative;
      clear: both;
      padding: 0 0 0 1.25rem !important;
      text-decoration: none;
      font-size: 1rem;
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: $dark;
      }

      .quantity {
        font-size: 0.9375rem;
      }

      .remove {
        position: absolute;
        left: 0;
        top: 0.375rem;
      }
    }
  }

  p {
    margin: 0;
    font-size: 1rem;

    &.total {
      margin-bottom: 0.25em;
    }
  }

  .button {
    @extend .btn-sm;

    margin-right: 0.25rem;

    &.checkout {
      @extend .btn-secondary;
    }
  }
}

/* Product lists
-------------------------------------------------------------- */
.product_list_widget {
  padding: 0;
  list-style: none;

  li {
    clear: both;

    a:not(.remove) {
      display: block;
      line-height: 1.2;
    }

    .amount,
    .star-rating {
      // font-size: 0.85em;
    }

    del {
      opacity: 0.5;
    }

    img {
      float: right;
      margin: 0 0 0.5rem 0.5rem;
      width: 48px;
      height: auto;
    }
  }
}

/* Rating filter
-------------------------------------------------------------- */
.widget_rating_filter {
  li.wc-layered-nav-rating {
    line-height: 1;

    a {
      text-decoration: none;
    }

    .star-rating {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* Price filter
-------------------------------------------------------------- */
.widget_price_filter {
  .price_slider {
    margin-bottom: 1em;
  }

  .price_slider_amount {
    text-align: right;
    line-height: 2.4em;

    .button {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-sm;

      float: left;
    }
  }

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (min-width: 768px) and (max-width: 1024px) {
    .price_slider_amount {
      text-align: left;

      .button {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    top: auto;
    z-index: 2;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    cursor: ew-resize;
    background: $primary;
    box-sizing: border-box;
    margin-top: -0.25em;
    margin-left: auto;
    opacity: 1;
    border: 0;

    &:last-child {
      margin-left: -1em;
    }

    &:hover,
    &.ui-state-active {
      box-shadow: 0 0 0 0.236em rgba(#000, 0.1);
    }
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background: $primary;
    border-radius: 1em;
  }

  .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background: #0000001a;
    border: 0;
  }

  .ui-slider-horizontal {
    height: 0.5em;
  }

  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }

  .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
  }

  .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
  }
}
